include ../../default/build-header
		
// header end
+roofContent("Скидка 5% на кислородное оборудование")
	.main-full
		.detail-main-banner
			img(src="/images/temp/news/1.jpg", alt="")
		.news-about
			h3 Размещайте фотографии в социальных сетях с хэштегом #покупаювмаксимум, чтобы получить скидку 10%
			p Отличные новости для, кто активно ведет социальные сети. Мы запустили акцию для вас! Если вы зарегистрированы в социальных сетях Instagram, ВКонтакте или Facebook,можете получить скидку 10% на любой товар! Для этого нужно выложить фотографию в свой личный аккаунт с хэштегом #покупаювnewshop. Это выгодно и проще простого!
			p Что нужно сделать, чтобы получить скидку?
			ul 
				li Выложите фото в любой социальной сети
				li Отметьте фото хэштегом #покупаювмаксимум
				li Выберите товар, добавьте его в корзину и перейдите в оформление заказа
				li В поле «Комментарии» приложите ссылку на размещенный пост с нашим хэштегом
				li При обработке заказа менеджер с вами свяжется для подтверждения заявки
				li Получите скидку 10% на любой товар
	include ../home/zone.pug

include ../home/feedback.pug
// footer start 

include ../../blocks/footer.pug

// footer end  