section
	.main-full.recent-items
		h2 Популярные товары
	.main-grid 
		-for (var i=0; i < 4; i++)
				+cardOffer( 'Mego Afek Lympha Press Mini', 'Аппараты для прессотерапии и лимфодренажа', '/images/temp/product-1.webp', '/images/temp/product-12.webp',  'Получить КП')
