include ../../default/build-header
		
// header end	
.stub
+roofContent("Концентратор кислорода Philips EverFlo")

	.market-detail
		.market-main.main-grid
			.col-7
				.outer.market-slider
					#big.owl-carousel.owl-theme.market-slide
						- for (var x = 1; x < 8; x++)
							div
								img(src="/images/temp/market/1/"+x+".jpg", alt="")
					#thumbs.owl-carousel.owl-theme.market-gallery(data-slider-id="1")
						- for (var x = 1; x < 8; x++)
							.market-gallery-item
								img(src="/images/temp/market/1/"+x+".jpg", alt="")
			.col-5 
				.market-info
					.market-code 
						span Артикул: 
						b 10-84726
					h1 Концентратор кислорода Philips EverFlo
					
					.market-about-list
						ul.ln
							li 
								span Производитель / Бренд
								b WienMann / Китай
							li 
								span Страна производитель
								b Китай
							li 
								span Гарантия
								b 1 год
					.market-about-list
							ul.ln
								li
									span
										i
											img(src="/images/icons/weight.svg", alt="")
										em Вес
									b 30 кг
								li
									span
										i
											img(src="/images/icons/box.svg", alt="")
										em Габариты
									b 200x200x600 мм
					.btn-container
						a.btn.btn--yellow-white(href="#")
							span Получить КП
					.link-container
						img.ico-file(src="/images/icons/file.svg", alt="")
						ul.ln
							li
								a(href="#") Скачать презентацию 
							li
								a(href="#") Скачать резулдьтат испытаний

		.main-full
			.market-tabs.offer-tabs
				ul.ln
					li.active Описание
					li Как купить
					li Оплата
					li Доставка
		.main-full
			.market-tabs-container
				.market-tabs-item
					p Prisma VENT50 может использоваться для вентиляции с системой утечки, а также с одним контуром с клапаном пациента. Другие функции включают режимы вентиляции мундштука с контролем давления и объема MPVp и MPVv, LIAM (маневр помощи при инсуффляции легких) для поддержки кашля и секреции, а также широкий диапазон давления до 50 гПа. Prisma VENT50, оснащенная таким количеством дополнений, может лечить гораздо более широкий спектр заболеваний.
					img(src="/images/temp/about-1.webp", alt="")
					h3 Технические характеристики модели Prisma VENT50
					table 
						tbody 
							tr 
								td Уровень шума	26 дБ
								td Габаритные размеры	21,8 х 17,5 х 21,8 см
							tr 
								td Диапазон лечебного давления	4 - 50 см Н20
								td Тип ИВЛ	Инвазивный / Неинвазивный
							tr 
								td Положительное давление на вдохе (IPAP)	4 - 50 см Н20
								td Положительное давление на выдохе (EPAP)	4 - 50 см Н20
							tr 
								td Триггеры	авто триггер или 8 уровней (от 5% до 95% от максимального потока с шагом 5%)
								td Увлажнитель	да
							tr 
								td Резервное питание от батарей	до 12 часов
								td Класс аппарата	Высокий
					h3 ОБЛАСТЬ ПРИМЕНЕНИЯ
					ul 
						li Обструктивные расстройства вентиляции, такие как. ХОБЛ
						li Рестриктивные расстройства вентиляции
						li Неврологические, мышечные или нервно-мышечные расстройства
						li Синдром ожирения гиповентиляции , синдром Пиквика
						li Расстройства центральной регуляции дыхания.
						li Синдром обструктивного апноэ сна СОАС.

				.market-tabs-item.market-tabs-item--active
					p.
						Самый простой способ сделать заказ: позвонить нашему менеджеру по номеру <b>8 777 777-77-45</b>, проконсультирует и подскажет при необходимости нужную информацию по товарам, сориентирует по точной стоимости доставки и срокам поставки.

					p Либо для покупки медицинских товаров в нашем интернет-магазине выберите подходящий товар и добавьте его в корзину. Далее перейдите в Корзину и нажмите на «Оформить заказ» или «Быстрый заказ».

					p Когда оформляете быстрый заказ, напишите ФИО, телефон и e-mail. Вам перезвонит менеджер и уточнит условия заказа. По результатам разговора вам придет подтверждение оформления товара на почту или через СМС. Теперь останется только ждать доставки и радоваться новой покупке.
					p Оформление заказа в стандартном режиме выглядит следующим образом. Заполняете полностью форму по последовательным этапам: адрес, способ доставки, оплаты, данные о себе. Советуем в комментарии к заказу написать информацию, которая поможет курьеру вас найти. Нажмите кнопку «Оформить заказ».
include ../detail/recent-items.pug

.stub-footer
include ../home/feedback.pug
	
// slider thumbnails end


include ../../blocks/footer.pug

// footer end   