.category
	//- .main-full.head-section
	//- 	h2.title-section 
	//- 		| Категории
	.main-grid
		.col-6.category-item
			.img-cover 
				img(src="/images/temp/car-category.jpg", alt="")
			.category-info 
				h2 Автомобили медицинской службы
				h3 Бюджетный медицинский транспорт
				.btn-container 
					a(href="#").btn.btn--border-white Перейти 
		.col-6.category-item
			.img-cover 
				img(src="/images/temp/med-category.jpg", alt="")
			.category-info 
				h2 Каталог медицинского оборудования
				h3 Оснащение медицинским оборудованием любых организаций
				.btn-container 
					a(href="#").btn.btn--border-white Перейти