.main_home
	.img-stub
	.img-cover
		img(src="/images/main.jpg", alt="")
	.main_home-content
		.stub
		.main-grid
			.col-2
			.col-5.vertical-align
				div
					h1 Лучшее медицицинское оборудование
					.main_home-text Осуществляем полное оснащение медицинских учреждений от идеи инженерного проектирования до монтажа и обучения персонала
					.btn-container 
						a.btn.btn--yellow.element-btn(data-element="2" href="#") 
							span Получить консультацию


