section.news-main 
	.main-full.head-section
		h2.title-section.
			События и новости
	.main-grid.news-catalog
		.col-6
			.news-main-item
				.news-item-img.img-cover
					img(src="/images/temp/less.webp", alt="")
				.news-item-info
					.news-item-roof
						.news-item-date 11.12.2022
						.news-item-tag.news-item-tag--green Новость
					h3
						a(href="#") Индивидуальное обучение
					.news-item-text Новый подход к обучению специалистов
					.btn-container 
						a(href="#").btn--link  Читать подробнее 
		.col-3
			.news-item
				.news-item-img.img-cover
					img(src="/images/temp/less.webp", alt="")
				.news-item-info
					.news-item-roof
						.news-item-date 11.12.2022
						.news-item-tag.news-item-tag--green Новость
					h3
						a(href="#") Индивидуальное обучение
					.news-item-text Новый подход к обучению специалистов
					.btn-container 
						a(href="#").btn--link  Читать подробнее 
		.col-3
			.news-item
				.news-item-img.img-cover
					img(src="/images/temp/less.webp", alt="")
				.news-item-info
					.news-item-roof
						.news-item-date 11.12.2022
						.news-item-tag.news-item-tag--red Акция
					h3
						a(href="#") Индивидуальное обучение
					.news-item-text Новый подход к обучению специалистов
					.btn-container 
						a(href="#").btn--link  Читать подробнее 
	.btn-container_section
		a(href="#").btn.btn--green  Загрузить еще