section.offer
	.main-full.head-section
		h3.subtitle-section Продукты КВМЕД
		h2.title-section.
			Лучшие предложения<br> на рынке медицинского оборудования
	.main-full
		ul.offer-tabs.ln
			li.active.
				Все<br> категории
			li.
				Реанимация и анестезиология
			li.
				Ренгенология
			li.
				Функциональная диагностика
			li.
				Дезинфекция
			li.
				Стерилизация
			li.
				Физиотерапия
	.main-grid 
		+cardOffer( 'Mego Afek Lympha Press Mini', 'Аппараты для прессотерапии и лимфодренажа', '/images/temp/product-1.webp', '/images/temp/product-12.webp',  'Получить КП')
		+cardOffer( 'Амико Маммо-РП', 'Мониторы пациента', '/images/temp/product-2.webp', '/images/temp/product-22.webp','Получить КП')
		+cardOffer( 'Canon Aquilion Lightning', 'Компьютерные томографы', '/images/temp/product-3.webp', '/images/temp/product-32.webp',  'Получить КП')
		+cardOffer( 'Mindray M5 Premium', 'Аппараты УЗИ', '/images/temp/product-4.webp',  '/images/temp/product-42.webp', 'Получить КП')