section.zone
  .main-full.head-section
    h2.title-section Работаем на всю страну
  .zone-map-wrapper
    .zone-map
    .main-grid.zone-item-container
      .zone-item.col-3.col-xs-12
        .zone-item-img
          img(src="/images/temp/adv/5.svg", alt="")
        h3 Мы работаем по всей территории Российской федерации
      .zone-item.col-3.col-xs-12
        .zone-item-img 
          img(src="/images/temp/adv/2.svg", alt="")
        h3 Аренда, доставка, монтаж и подключение оборудования 
          span Бесплатно за 14 дней
      .zone-item.col-3.col-xs-12
        .zone-item-img 
          img(src="/images/temp/adv/3.svg", alt="")
        h3 Гарантийное обслуживание на весь срок сотрудничества
      .zone-item.col-3.col-xs-12
        .zone-item-img 
          img(src="/images/temp/adv/4.svg", alt="")
        h3. 
          Сертифицированное<br> оборудование